In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from text_processing import *
from plot_data import *
import json

### Analyze data analyst positions  ###

In [2]:
#skills to investigate

languages = ['Python', 'R', 'SQL', 'MySQL','Java', 'C', 'C++', 'C#', 'Scala', 'Perl', 'Julia', 
             'Javascript', 'HTML', 'CSS', 'PHP', 'Ruby', ' Lua ', 'MATLAB', 'SAS'] 

big_data = ['Hadoop', 'MapReduce','Hive', 'Pig', 'Cascading', 'Scalding', 'Cascalog', 'HBase', 'Sqoop', 
            'Mahout', 'Oozie', 'Flume', 'ZooKeeper', 'Spark', 'Storm', 'Shark', 'Impala', 'Elasticsearch', 
            'Kafka', 'Flink', 'Kinesis', 'Presto', 'Hume', 'Airflow', 'Azkabhan', 'Luigi', 'Cassandra']

dl = ['TensorFlow', 'Keras', 'PyTorch', 'Theano', 'Deeplearning4J', 'Caffe', 'TFLearn', 'Torch', 
      'OpenCV', 'MXNet', 'Microsoft Cognitive Toolkit', 'Lasagne']

cloud = ['AWS', 'GCP', 'Azure']

ml = ['Natural Language Processing', 'Computer Vision', 'Speech Recognition', 'Fraud Detection',
      'Recommender System', 'Image Recognition', 'Object Dectection', 'Chatbot',  'Sentiment Analysis']

visualization = ['Dimple', 'D3.js', 'Ggplot', 'Shiny', 'Plotly', 'Matplotlib', 'Seaborn', 
                'Bokeh', 'Tableau']

other = ['Pandas', 'Numpy', 'Scipy', 'Sklearn', 'Scikit-Learn', 'Docker', 'Git', 'Jira', 'Kaggle']

languages = [x.lower() for x in languages]

big_data = [x.lower() for x in big_data]
dl = [x.lower() for x in dl]
cloud = [x.lower() for x in cloud]
ml = [x.lower() for x in ml]
visualization = [x.lower() for x in visualization]
other = [x.lower() for x in other]

to_check = {'Programming Languages': languages,
                 'Big Data Technologies': big_data,
                 'Deep Learning Frameworks': dl,
                 'Cloud Computing Platforms': cloud,
                 'Machine Learning Application': ml,
                 'Visualization Tools': visualization,
                 'Other': other}

In [3]:
#load all cities with data analyst jobs into one place
titles = ['data analyst Boston', 'data analyst New York city', 'data analyst Seattle',
        'data analyst Portland', 'data analyst Austin', 'data analyst Chicago',
         'data analyst Philadelphia', 'data analyst San Diego', 'data analyst Washington DC',
         'data analyst San Francisco']


posting =  string_wc(titles)
posting = tokenize_text(posting)

In [4]:
freq_da = frequency(to_check, posting) #check frequency of list of skillsets
df_da = pd.DataFrame.from_dict(freq_da, orient = 'index')#change from
#dict to data frame -frequency
df_da = df_da.reset_index()#reset index to column
df_da = df_da.rename(columns = {'index':'skillset'}) #change colum name
value_vars = df_da.columns.tolist()[1:]#list of columns name to turn 
#freq_da

In [15]:
#gather colum into rows with skillsets as id and values as languages
df_da = pd.melt(df_da, id_vars = 'skillset', value_vars = value_vars)
df_da.head()

                       skillset variable  value
0         Big Data Technologies   python    NaN
1     Cloud Computing Platforms   python    NaN
2      Deep Learning Frameworks   python    NaN
3  Machine Learning Application   python    NaN
4                         Other   python    NaN

In [16]:
df_da.rename(columns = {'variable' : 'skill', 'value' :'frequency'}, inplace = True)
df_da = df_da[df_da['frequency'].notnull()] #eliminate null value

In [8]:
#df_da

In [9]:
df_da.reset_index(drop = True, inplace = True) #reset the index column
df_da = df_da.astype({'frequency' : int})#change freq to int

In [10]:
df_da

                        skillset                        skill  frequency
0          Programming Languages                       python        213
1          Programming Languages                            r        217
2          Programming Languages                          sql        624
3          Programming Languages                        mysql         20
4          Programming Languages                         java         55
5          Programming Languages                            c         34
6          Programming Languages                          c++         13
7          Programming Languages                           c#          1
8          Programming Languages                        scala         94
9          Programming Languages                         perl         20
10         Programming Languages                        julia          1
11         Programming Languages                   javascript         32
12         Programming Languages                         html         27
13         Programming Languages                          css          8
14         Programming Languages                          php          7
15         Programming Languages                         ruby          4
16         Programming Languages                         lua           0
17         Programming Languages                       matlab         18
18         Programming Languages                          sas        193
19         Big Data Technologies                       hadoop         31
20         Big Data Technologies                    mapreduce          3
21         Big Data Technologies                         hive         19
22         Big Data Technologies                          pig         10
23         Big Data Technologies                    cascading          0
24         Big Data Technologies                     scalding          0
25         Big Data Technologies                     cascalog          0
26         Big Data Technologies                        hbase          1
27         Big Data Technologies                        sqoop          0
28         Big Data Technologies                       mahout          0
29         Big Data Technologies                        oozie          0
..                           ...                          ...        ...
58     Cloud Computing Platforms                          aws        111
59     Cloud Computing Platforms                          gcp          2
60     Cloud Computing Platforms                        azure         10
61  Machine Learning Application  natural language processing          5
62  Machine Learning Application              computer vision          2
63  Machine Learning Application           speech recognition          0
64  Machine Learning Application              fraud detection          4
65  Machine Learning Application           recommender system          0
66  Machine Learning Application            image recognition          0
67  Machine Learning Application            object dectection          0
68  Machine Learning Application                      chatbot          0
69  Machine Learning Application           sentiment analysis          0
70           Visualization Tools                       dimple          0
71           Visualization Tools                        d3.js          0
72           Visualization Tools                       ggplot          1
73           Visualization Tools                        shiny          1
74           Visualization Tools                       plotly          1
75           Visualization Tools                   matplotlib          4
76           Visualization Tools                      seaborn          1
77           Visualization Tools                        bokeh          0
78           Visualization Tools                      tableau        244
79                         Other                       pandas         10
80                         Other                        numpy          2
81                         Other                        scipy          1
82                         Other                      sklearn          0
83                         Other                 scikit-learn          0
84                         Other                       docker          5
85                         Other                          git        271
86                         Other                         jira         17
87                         Other                       kaggle          0

[88 rows x 3 columns]

In [80]:
df_da.to_csv('skillfreq_da.csv', index = False)

### Analyze data scientist positions ###

In [29]:
##### data scientist analysis ####
cities = ['New York city', 'Boston','Austin', 'Chicago', 'Philadelphia',
          'San Diego', 'San Francisco', 
          'Seattle', 'Washington DC','Portland']
title = 'data scientist '
file_names = []
for city in cities:
    first_part = title + city
    file_name = '_'.join(first_part.split()) 
    file_names.append(file_name)
    
file_names

['data_scientist_New_York_city',
 'data_scientist_Boston',
 'data_scientist_Austin',
 'data_scientist_Chicago',
 'data_scientist_Philadelphia',
 'data_scientist_San_Diego',
 'data_scientist_San_Francisco',
 'data_scientist_Seattle',
 'data_scientist_Washington_DC',
 'data_scientist_Portland']

In [30]:
posting_ds = string_wc(file_names)
posting_ds = tokenize_text(posting_ds)

In [31]:
freq_ds = frequency(to_check, posting_ds) #check frequency of list of skillsets
df_ds = pd.DataFrame.from_dict(freq_ds, orient = 'index')#change from
#dict to data frame -frequency
df_ds = df_ds.reset_index()#reset index to column
df_ds = df_ds.rename(columns = {'index':'skillset'}) #change colum name
value_vars = df_ds.columns.tolist()[1:]#list of columns name to turn

In [32]:
#freq_ds

In [33]:
#gather colum into rows with skillsets as id and values as languages
df_ds = pd.melt(df_ds, id_vars = 'skillset', value_vars = value_vars)
df_ds.head()

                       skillset variable  value
0         Big Data Technologies   python    NaN
1     Cloud Computing Platforms   python    NaN
2      Deep Learning Frameworks   python    NaN
3  Machine Learning Application   python    NaN
4                         Other   python    NaN

In [34]:
df_ds.rename(columns = {'variable' : 'skill', 'value' :'frequency'}, inplace = True)
df_ds = df_ds[df_ds['frequency'].notnull()] #eliminate null value

In [35]:
df_ds

                         skillset                        skill  frequency
5           Programming Languages                       python      623.0
12          Programming Languages                            r      478.0
19          Programming Languages                          sql      556.0
26          Programming Languages                        mysql       32.0
33          Programming Languages                         java      196.0
40          Programming Languages                            c      113.0
47          Programming Languages                          c++      119.0
54          Programming Languages                           c#       25.0
61          Programming Languages                        scala      209.0
68          Programming Languages                         perl       36.0
75          Programming Languages                        julia        8.0
82          Programming Languages                   javascript       34.0
89          Programming Languages                         html       26.0
96          Programming Languages                          css       17.0
103         Programming Languages                          php       16.0
110         Programming Languages                         ruby       17.0
117         Programming Languages                         lua         0.0
124         Programming Languages                       matlab       65.0
131         Programming Languages                          sas      160.0
133         Big Data Technologies                       hadoop      172.0
140         Big Data Technologies                    mapreduce       18.0
147         Big Data Technologies                         hive      103.0
154         Big Data Technologies                          pig       22.0
161         Big Data Technologies                    cascading        0.0
168         Big Data Technologies                     scalding        2.0
175         Big Data Technologies                     cascalog        0.0
182         Big Data Technologies                        hbase       16.0
189         Big Data Technologies                        sqoop        2.0
196         Big Data Technologies                       mahout        6.0
203         Big Data Technologies                        oozie        1.0
..                            ...                          ...        ...
407     Cloud Computing Platforms                          aws      452.0
414     Cloud Computing Platforms                          gcp       25.0
421     Cloud Computing Platforms                        azure       56.0
430  Machine Learning Application  natural language processing      110.0
437  Machine Learning Application              computer vision       62.0
444  Machine Learning Application           speech recognition       11.0
451  Machine Learning Application              fraud detection       34.0
458  Machine Learning Application           recommender system       13.0
465  Machine Learning Application            image recognition        2.0
472  Machine Learning Application            object dectection        0.0
479  Machine Learning Application                      chatbot        2.0
486  Machine Learning Application           sentiment analysis        5.0
496           Visualization Tools                       dimple        0.0
503           Visualization Tools                        d3.js        7.0
510           Visualization Tools                       ggplot       13.0
517           Visualization Tools                        shiny       14.0
524           Visualization Tools                       plotly        2.0
531           Visualization Tools                   matplotlib       18.0
538           Visualization Tools                      seaborn        8.0
545           Visualization Tools                        bokeh        3.0
552           Visualization Tools                      tableau      139.0
557                         Other                       pandas       43.0
564                         Other                        numpy       26.0
571                         Other                        scipy       14.0
578                         Other                      sklearn        7.0
585                         Other                 scikit-learn        0.0
592                         Other                       docker       29.0
599                         Other                          git      392.0
606                         Other                         jira        4.0
613                         Other                       kaggle        5.0

[88 rows x 3 columns]

In [36]:
df_ds.reset_index(drop = True, inplace = True) #reset the index column
df_ds = df_ds.astype({'frequency' : int})#change freq to int

In [37]:
#df_ds

In [77]:
df_ds.to_csv('skillfreq_ds.csv', index=False)

In [79]:
df = pd.read_csv('skillfreq_ds.csv')
df

                        skillset                        skill  frequency
0          Programming Languages                       python        623
1          Programming Languages                            r        478
2          Programming Languages                          sql        556
3          Programming Languages                        mysql         32
4          Programming Languages                         java        196
5          Programming Languages                            c        113
6          Programming Languages                          c++        119
7          Programming Languages                           c#         25
8          Programming Languages                        scala        209
9          Programming Languages                         perl         36
10         Programming Languages                        julia          8
11         Programming Languages                   javascript         34
12         Programming Languages                         html         26
13         Programming Languages                          css         17
14         Programming Languages                          php         16
15         Programming Languages                         ruby         17
16         Programming Languages                         lua           0
17         Programming Languages                       matlab         65
18         Programming Languages                          sas        160
19         Big Data Technologies                       hadoop        172
20         Big Data Technologies                    mapreduce         18
21         Big Data Technologies                         hive        103
22         Big Data Technologies                          pig         22
23         Big Data Technologies                    cascading          0
24         Big Data Technologies                     scalding          2
25         Big Data Technologies                     cascalog          0
26         Big Data Technologies                        hbase         16
27         Big Data Technologies                        sqoop          2
28         Big Data Technologies                       mahout          6
29         Big Data Technologies                        oozie          1
..                           ...                          ...        ...
58     Cloud Computing Platforms                          aws        452
59     Cloud Computing Platforms                          gcp         25
60     Cloud Computing Platforms                        azure         56
61  Machine Learning Application  natural language processing        110
62  Machine Learning Application              computer vision         62
63  Machine Learning Application           speech recognition         11
64  Machine Learning Application              fraud detection         34
65  Machine Learning Application           recommender system         13
66  Machine Learning Application            image recognition          2
67  Machine Learning Application            object dectection          0
68  Machine Learning Application                      chatbot          2
69  Machine Learning Application           sentiment analysis          5
70           Visualization Tools                       dimple          0
71           Visualization Tools                        d3.js          7
72           Visualization Tools                       ggplot         13
73           Visualization Tools                        shiny         14
74           Visualization Tools                       plotly          2
75           Visualization Tools                   matplotlib         18
76           Visualization Tools                      seaborn          8
77           Visualization Tools                        bokeh          3
78           Visualization Tools                      tableau        139
79                         Other                       pandas         43
80                         Other                        numpy         26
81                         Other                        scipy         14
82                         Other                      sklearn          7
83                         Other                 scikit-learn          0
84                         Other                       docker         29
85                         Other                          git        392
86                         Other                         jira          4
87                         Other                       kaggle          5

[88 rows x 3 columns]

In [52]:
df_da

                        skillset                        skill  frequency
0          Programming Languages                       python        213
1          Programming Languages                            r        217
2          Programming Languages                          sql        624
3          Programming Languages                        mysql         20
4          Programming Languages                         java         55
5          Programming Languages                            c         34
6          Programming Languages                          c++         13
7          Programming Languages                           c#          1
8          Programming Languages                        scala         94
9          Programming Languages                         perl         20
10         Programming Languages                        julia          1
11         Programming Languages                   javascript         32
12         Programming Languages                         html         27
13         Programming Languages                          css          8
14         Programming Languages                          php          7
15         Programming Languages                         ruby          4
16         Programming Languages                         lua           0
17         Programming Languages                       matlab         18
18         Programming Languages                          sas        193
19         Big Data Technologies                       hadoop         31
20         Big Data Technologies                    mapreduce          3
21         Big Data Technologies                         hive         19
22         Big Data Technologies                          pig         10
23         Big Data Technologies                    cascading          0
24         Big Data Technologies                     scalding          0
25         Big Data Technologies                     cascalog          0
26         Big Data Technologies                        hbase          1
27         Big Data Technologies                        sqoop          0
28         Big Data Technologies                       mahout          0
29         Big Data Technologies                        oozie          0
..                           ...                          ...        ...
58     Cloud Computing Platforms                          aws        111
59     Cloud Computing Platforms                          gcp          2
60     Cloud Computing Platforms                        azure         10
61  Machine Learning Application  natural language processing          5
62  Machine Learning Application              computer vision          2
63  Machine Learning Application           speech recognition          0
64  Machine Learning Application              fraud detection          4
65  Machine Learning Application           recommender system          0
66  Machine Learning Application            image recognition          0
67  Machine Learning Application            object dectection          0
68  Machine Learning Application                      chatbot          0
69  Machine Learning Application           sentiment analysis          0
70           Visualization Tools                       dimple          0
71           Visualization Tools                        d3.js          0
72           Visualization Tools                       ggplot          1
73           Visualization Tools                        shiny          1
74           Visualization Tools                       plotly          1
75           Visualization Tools                   matplotlib          4
76           Visualization Tools                      seaborn          1
77           Visualization Tools                        bokeh          0
78           Visualization Tools                      tableau        244
79                         Other                       pandas         10
80                         Other                        numpy          2
81                         Other                        scipy          1
82                         Other                      sklearn          0
83                         Other                 scikit-learn          0
84                         Other                       docker          5
85                         Other                          git        271
86                         Other                         jira         17
87                         Other                       kaggle          0

[88 rows x 3 columns]